#root {
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  place-items: center;
  width: 300px;
  height: auto;
  position: sticky;
}
.cardbtn {
  display: flex;
  flex-direction: row;
}
.read-the-docs {
  color: #888;
}
.form {
  padding: 1rem;
  font-family: gabriela; 
}
.footer {
  place-items: center;
  width: auto;
}
.profilepic {
  width: 200px;
  height: 220px;
}
 
