:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
li{
  display:  flex;
  align-content: column;
}
 
body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-left: -5px;
  height: 15%;
  width: 100vw;
  background-color: #fff;
  padding: 10px;
  display: block;
  text-align: center;
  padding-left: -5px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 400px) {
 h1 {
  font-size: 10px;
  margin-left: -3.8em;
 }
 .navbar a {
  font-size: 10px;
 }
}

.LikeThumb {
   background-color: #89b3da;
   position: relative;
} 

.text {
  position: absolute;
  top: 100%;
  display: block;
}

.logo{
  color:hsla(109, 74%, 68%, 0.733);
}
.webpage {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(199, 218, 187);
  color: #000000;
  padding: 0 1em 0.5em 1em;
  margin-bottom: -1em;
}

.footer {
 /*
  display: flex;
 */
  margin-top: 3em;
  text-align: center;
}

/*
.ServiceConAbout{
  display: flex;
  flex-direction: row;
  text-align: center;
  place-content: center;
  justify-content: space-evenly;
  padding-right: -50px;
}*/
.hr{
  margin-top: 2em;
}
textarea{
  position: absolute;
  z-index: 1;
}
.navbarbtn{
  background-color: inherit;
  color: white;
  font-size: large;
}
.navbar{
  display: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.navbar a:hover {
  color: #fb0330;
  background-color: #071004;
  border-radius: 10px;
  padding-left: 10px;
}
.navbar .atagContainer{
  height: 20px;
  margin-top: -45em;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  color: rgb(8, 150, 20);
  font-family: gabriela;
  margin-top: -35px;
  position: fixed;
  z-index: 1;
  margin-left: -10px;
}
.closebtn{
 margin: -15em 5px 0px auto;
}

/*
.openbtn + .atagContainer:hover {
  display: block;
}*/

/*.about {
  transition: 3s;
  background-color: #470d18;
  color: #fff;
}*/
.allinfo{
  padding: 3em;
}
.openbtn{
  margin-right: -4em;
  background-color: #fff;
  color: #071004;
  border: none;
  font-size: 20px;
  z-index: 1;
  max-height: 2.8em;
  font-weight: bold;
}
.openbtn+.navbar:hover {
  height: 100vh;
  background-color: #273f20;
  transition: 0.5s;
  padding: 20px;
  border: none;
  z-index: 1;
}
.save{
  background-color: #071004;
}
.calculator {
  width: 15em;
  height: 24.8em;
  border-radius: 5px;
  background-color: #ffffff;
}
.card, .calculator{
  margin: 1em;
}
.calcScreen{
 background-color: #0b0c0b;
 width: 13em;
 height: 7em;
 margin-bottom: 5px;
}
.calcBody{
  width: 13em;
  height: 13em;
  background-color: #e2d9d6;

}
.bsContainer{
  margin-top: 0.8em;
  margin-left: 1em;
   position: absolute;
}
.buttons{
  margin: 5px;
  position: absolute;
  font-size: larger;
}
.btns{
  padding-bottom: 5px;
 
  width: 10.2em;
}
.button{
  width: 2.3em;
  margin-left: 3.5px;
  cursor: pointer;
  border: 1px solid green;
}
.button:hover{
  background-color: #9a73f4;
}
.mainbtns{
  color: #5a07e9;
}
.mainbtns:hover{
  background-color: #9a73f4;
  color:white
}
.topscreen{
  overflow: hidden;
}
.bottomscreen{
  border-top:1px solid #273f20;
}
.topscreen, .bottomscreen {
  background-color: #242424;
  width: 12.5em;
  height: 3.5em;

}
.topbottomScreen{
  margin-left: 0.22em;
  position: absolute;
}
.calcOn{
  color: #fff;
  font-size: large;
  display: flex;
  flex-direction: column;
}
.topscreenLayOut{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result{
  overflow: hidden;
  color: #fff;
  font-size: large;
}
.timeScreen{
  background-color: #2b2727;
  width:5em;
  height: 2.4em;
  margin-bottom: 0.3em;
  margin-left: auto;
  padding:2px
  
}
.time{
  overflow:hidden;
  color:#e5fe08;
  font-size: 100;
}
.todo {
padding: 3px;}
.prevOperand {
  font-size: small;
  color: rgb(97, 201, 97)
}
.span2 {
  height: 3.589em;
  position: absolute;
  background-color: #060944;
  color: white;
  border-radius: 4px;
}
.span2:hover{
  background-color: #0b0f55;

}